<div class="layout">

  <div class="sidebar">

    <h2>App</h2>

    <a routerLink="/">
      <span class="material-icons">dashboard</span>
      Dashboard
    </a>

    <a routerLink="/maintenance">
      <span class="material-icons">build</span>
      Maintenance
    </a>

    <a routerLink="/income">
      <span class="material-icons">payments</span>
      Income
    </a>

    <a routerLink="/expenses">
      <span class="material-icons">receipt_long</span>
      Expenses
    </a>

    <a routerLink="/notice">
      <span class="material-icons">campaign</span>
      Notice
    </a>

    <a routerLink="/complaints">
      <span class="material-icons">report_problem</span>
      Complaints
    </a>

    <a routerLink="/user">
      <span class="material-icons">group</span>
      User
    </a>

    <a routerLink="/setting">
      <span class="material-icons">settings</span>
      Setting
    </a>

  </div>

  <div class="main">

    <div class="topbar">

      <div></div>

      <h2 class="app-title">
        Society Maintenance App
      </h2>

      <div class="profile">
        Admin Bangi
      </div>

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>