*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.layout{
  display:flex;
  height:100vh;
}

/* Sidebar */

.sidebar{
  width:220px;
  background:#2563eb;
  color:white;
  display:flex;
  flex-direction:column;
  padding:20px;
  transition:all 0.3s ease;
}

.sidebar h2{
  text-align:center;
  margin-bottom:40px;
}

.sidebar.closed{
  width:80px;
  padding:20px 10px;
}

.sidebar.closed h2{
  display:none;
}

.sidebar.closed a{
  justify-content:center;
  padding:15px 0;
}

.sidebar.closed .menu-text{
  display:none;
}

.sidebar a{
  color:white;
  text-decoration:none;
  padding:12px;
  margin-bottom:10px;
  border-radius:6px;
  display:flex;
  align-items:center;
  gap:10px;
  transition:0.3s;
}

.sidebar a .material-icons{
  font-size:28px;
  min-width:32px;
}

.sidebar a:hover{
  background:#64748b;
}

.sidebar a.active-link{
  background:#64748b;
  font-weight:600;
  border-left:4px solid white;
}

.sidebar.closed a.active-link{
  border-left:none;
}

/* Main Section */

.main{
  flex:1;
  display:flex;
  flex-direction:column;
}

/* Topbar */

.topbar{
  height:70px;
  background:white;
  border-bottom:1px solid #ddd;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
}

.app-title{
  font-size:22px;
  font-weight:600;
}

/* Content */

.content{
  flex:1;
  padding:20px;
  background:#f5f5f5;
  overflow:auto;
}

/* Menu Button */

.menu-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.menu-btn .material-icons{
  font-size:32px;
  color:#1e293b;
}

/* Profile */

.profile-container{
  position:relative;
}

.profile{
  display:flex;
  align-items:center;
  gap:5px;
  cursor:pointer;
  font-weight:bold;
  color:#1e293b;
}

/* Profile Dropdown */

.profile-menu{
  position:absolute;
  top:45px;
  right:0;
  width:220px;
  background:white;
  border-radius:10px;
  box-shadow:0 4px 15px rgba(0,0,0,0.15);
  overflow:hidden;
  z-index:1000;
}

.profile-menu a{
  display:flex;
  align-items:center;
  gap:10px;
  padding:14px 16px;
  text-decoration:none;
  color:#1e293b;
  cursor:pointer;
}

.profile-menu a:hover{
  background:#f1f5f9;
}