<div class="login-page">


  <!-- LEFT SIDE -->


  <div class="left-panel">


    <div class="left-content">


      <div class="logo">
        <span>🏢 Society Management</span>
      </div>


      <h1>
        Welcome Back!
      </h1>


      <p>
        Manage buildings, flats, maintenance, notices,
        complaints and payments from one dashboard.
      </p>


      <div class="feature">
        <div class="feature-icon">🔒</div>


        <div>
          <h4>Secure & Reliable</h4>
          <span>Your society data is protected.</span>
        </div>
      </div>


      <div class="feature">
        <div class="feature-icon">💳</div>


        <div>
          <h4>Maintenance Tracking</h4>
          <span>Generate and manage bills easily.</span>
        </div>
      </div>


      <div class="feature">
        <div class="feature-icon">📢</div>


        <div>
          <h4>Notices & Complaints</h4>
          <span>Stay connected with residents.</span>
        </div>
      </div>


    </div>


  </div>


  <div class="right-panel">

  <div class="login-card">

    <div class="login-header">

      <h2>Login to Your Account</h2>

      <p class="subtitle">
        Enter your credentials to access your dashboard
      </p>

    </div>

    <form (ngSubmit)="Login()">

      <!-- BUILDING -->

<div class="form-group autocomplete-group">
  <label>Building Name</label>

  <div class="input-group">
    <span class="input-icon">🏢</span>

    <input
      type="text"
      name="buildingName"
      [(ngModel)]="buildingName"
      (input)="onBuildingSearch()"
      autocomplete="off"
      placeholder="Search Building Name">
  </div>

  <div
    class="autocomplete-list"
    *ngIf="filteredBuildings.length > 0">

    <div
      *ngFor="let item of filteredBuildings"
      class="autocomplete-item"
      (click)="selectBuilding(item)">

      {{ item.building_name }}

    </div>

  </div>
</div>

      <!-- EMAIL -->

      <div class="form-group">

        <label>Mobile Number</label>

        <div class="input-group">

          <span class="input-icon">✉️</span>

         <input
  type="text"
  [(ngModel)]="phone"
  name="phone"
  placeholder="Mobile Number">

        </div>

      </div>

      <!-- PASSWORD -->

      <div class="form-group">

        <label>Password</label>

        <div class="input-group password-wrapper">

          <span class="input-icon">🔒</span>

        <input
  [type]="showPassword ? 'text' : 'password'"
  [(ngModel)]="password"
  name="password"
  placeholder="Enter Password">

          <button
            type="button"
            class="toggle-password"
            (click)="showPassword = !showPassword">

            {{ showPassword ? '🙈' : '👁️' }}

          </button>

        </div>

      </div>

      <!-- FORGOT -->

      <div class="forgot">

        <a>
          Forgot Password?
        </a>

      </div>

      <!-- LOGIN -->

      <button
        type="submit"
        class="login-btn"
        >

        Login

      </button>

    </form>

  </div>

</div>